<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Lista de Curso</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Hours</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each=" course : ${courses}">
        <td><span th:text="${course.name}"></span></td>
        <td><span th:text="${course.description}"></span></td>
        <td><span th:text="${course.price}"></span></td>
        <td><span th:text="${course.hours}"></span></td>
      </tr>
    </tbody>
  </table>
  <hr />

  <form action="#" th:action="@{/courses/add}" th:object="${course}" method="POST">
    <p>Name: <input type="text" name="name" th:field="*{name}" /> </p>
    <p>Description: <input type="text" name="name" th:field="*{description}" /> </p>
    <p>Price: <input type="text" name="name" th:field="*{price}" /> </p>
    <p>Hours: <input type="text" name="name" th:field="*{hours}" /> </p>
    <p><input type="submit" value="Guardar"></p>
  </form>
</body>
</html>